<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>springboot-demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
<div id="container">
    <h1>未授权</h1>

    <p>status: ${status}</p>
    <p>message: ${message}</p>
    <p>error: ${errors}</p>

</div>
</body>

</html>