<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>springboot-demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
<div id="container" lay-title="登录">
    <h1>系统登录</h1>
    <form action="login" method="post">
        用户名：<input type="text" name="username" placeholder="用户名" > <br/>
        密码：<input type="password" name="password" placeholder="密码"> <br/>
        <input type="submit" value="登录">
    </form>
</div>
</body>

</html>